@import 'global';

@import 'react-table/react-table';

.fade-appear,
.fade-enter {
  opacity: 0;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms linear;
}

.fade-exit{
  opacity: 1;
  // transform: translateY(0);
  margin-top: 0;
  position: absolute;
  width: 100%;
}

.fade-exit.fade-exit-active{
  opacity: 0;
  // transform: translateY(300);
  margin-top: 50px;
  transition: all .3s ease-in;
}


@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Black.eot');
	src: url('/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/IRANSans/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IRANSans/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Bold.eot');
	src: url('/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/IRANSans/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IRANSans/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Medium.eot');
	src: url('/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/IRANSans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IRANSans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Light.eot');
	src: url('/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/IRANSans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IRANSans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/IRANSans/eot/IRANSansWeb(FaNum)_UltraLight.eot');
	src: url('/fonts/IRANSans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IRANSans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/IRANSans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IRANSans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/IRANSans/eot/IRANSansWeb(FaNum).eot');
	src: url('/fonts/IRANSans/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/IRANSans/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/IRANSans/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/IRANSans/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
 
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

body{
  line-height: 1.8;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

span[class^="MuiPrivateTabIndicator"] {
  background-color: #fff !important;
  &:before{
    content: '';
    border: 1px solid red;
    display: block;
    position: absolute;
    width: 80%;
    top: -35px;
    right: 10%;
    height: 29px;
    border-radius: 10px;
  }
}

#root{
  direction: rtl;
  text-align: right;
  // padding-right: 300px;
  #top-nav{
    height: 60px;
  }  
  #main-content{
    margin-right: 300px;
    #page{
      #page-header{
        padding-bottom: 70px;
      }
      #page-content{
        margin-top: -50px;
        width: 100%;
      }
    }
  }
  #side-nav{
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #55bb55;
  }
}

.page-tab{
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity .3s;
  &.show{
    height: auto;
    opacity: 1;
  }
}