@import 'global';

@import 'react-table/react-table';

#root{
  direction: rtl;
  text-align: right;
  padding-right: 300px;
  #top-nav{
    height: 60px;
  }  
  #main-content{
    #page{
      #page-header{
        padding-bottom: 70px;
      }
      #page-content{
        margin-top: -50px;
      }
    }
  }
  #side-nav{
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: gray;
  }
}