// .mdc-notched-outline__notch{
//     border-right: none;
//     border-left: none;
// }
// @import "@material/rtl/mixins";
// mdc-rtl('.rtl');
@import "@material/ripple/mdc-ripple";
@import "@material/form-field/mdc-form-field";
@import "@material/icon-button/mdc-icon-button";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/checkbox/mdc-checkbox";
@import "@material/radio/mdc-radio";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";
.mdc-text-field{
    label{
        font-family: IRANSans;
    }
    &.mdc-text-field--outlined.shaped{
        .mdc-text-field__input{
            padding-right: 32px;
            padding-left: 0;
        }
        .mdc-notched-outline{
            .mdc-notched-outline__notch{ 
                max-width: calc(100% - 28px * 2);
            }
            .mdc-notched-outline__leading{
                border-radius: 0 28px 28px 0;
                width: 28px;
            }
            .mdc-notched-outline__trailing{
                border-radius: 28px 0 0 28px;
            }
        }
    }
    &.mdc-text-field--textarea{
        width: 100%;
    }
}
.mdc-button{
    font-family: IRANSans;
    letter-spacing: normal;
    font-weight: 300;
    height: 40px;
    font-size: 1.1rem;
    padding: 0 30px 0 30px;
    border-radius: 40px !important;
    &.mdc-button--dense{
        height: 30px;
        font-size: .9rem;
        padding: 0 25px 0 25px;
    }
    &:focus{
        outline: none;
    }
}
.mdc-icon-button{
    &:focus{
        outline: none;
    }
}
.mdc-list-item {
    border-radius: 32px 0 0 32px;
}