#profile-layout{
    .profile-nav{
        width: 300px;
        right: 0;
        background-color: rgb(202, 222, 248);
        top: 0;
    }
    .profile-content{
        margin-right: 300px;
    }
}