@import 'typography';
@tailwind preflight;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  border-style: none;
}
@import "~swiper/dist/css/swiper.min";
@import 'mdc_patch';
@import 'navigation';
@import 'profile_nav';
html{
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
}
@media screen and (min-width: 1200px){ 
    html{ font-size: 15px; } 
}
body{
    font-family: IRANSans;
    direction: rtl;
    text-align: right;
    background-color: #f5f5f5;
    margin-top: 64px;
    &.profile{
        background-color: #fff;
    }
    a{
        text-decoration: none;
        outline: none;
    }
}
.container{ 
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    &.large{
        max-width: 980px;
    }
    &.medium{ 
        max-width: 800px; 
    }
    &.small{
        max-width: 600px;
    }
} 
@media screen and (min-width: 1700px){ 
    .container.medium{ max-width: 900px; } 
}

table{
    width: 100%;
    tr{
        border-bottom: 1px solid #c5c5c5;
        &:odd{
            background-color: red;
        }
        td{
            padding: 1.5rem 1rem;
            min-height: 7rem;
        }
    }
}



.swiper-container-vertical > .swiper-scrollbar{
    right: auto;
    left: 10px;
}

.chat-comments{
    .me{
        background-color: blue;
        
    }
    .tome{
        background-color: red;
    }
}


.nav__footer{
    display: flex;
    padding: 40px 0;
    li{
        width: 25%;
        list-style: none;
        a{
            font-weight: bolder;
            color : #000;
        }
        ul{ 
            padding: 0;
            li{
                width: 100%;
                padding-top: 13px;
                a{
                    font-weight: 300;
                    color : #000;
                }
            }
        }
    }
}
@media screen and (max-width:600px){
    .nav__footer{
        li{width: 50%;}
    }
}
