@tailwind preflight;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  border-style: none;
}
@import "~swiper/dist/css/swiper.min";
@import 'typography';
@import 'mdc_patch';
@import 'navigation';
html{
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
}
@media screen and (min-width: 1200px){ 
    html{ font-size: 15px; } 
}
body{
    font-family: IRANSans;
    direction: rtl;
    text-align: right;
    background-color: #f5f5f5;
}
.container{ 
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    &.large{
        max-width: 980px;
    }
    &.medium{ 
        max-width: 800px; 
    }
    &.small{
        max-width: 600px;
    }
} 
@media screen and (min-width: 1700px){ 
    .container.medium{ max-width: 900px; } 
}