@import 'typography';
@tailwind preflight;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  border-style: none;
}
@import "~swiper/dist/css/swiper.min";
@import 'mdc_patch';
@import 'navigation';
@import 'profile_nav';
html{
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
}
@media screen and (min-width: 1200px){ 
    html{ font-size: 15px; } 
}
body{
    font-family: IRANSans;
    direction: rtl;
    text-align: right;
    background-color: #f5f5f5;
    padding-top: 64px;
    &.profile{
        background-color: #fff;
    }
    a{
        text-decoration: none;
        outline: none;
    }
}
.container{ 
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;

    &.large{
        max-width: 980px;
    }
    &.medium{ 
        max-width: 800px; 
    }
    &.small{
        max-width: 600px;
    }
} 
@media screen and (min-width: 1700px){ 
    .container.medium{ max-width: 900px; } 
}

table{
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    width: 100%;

    & a{
        color: #000;
    }

    &:not(:last-child) {
        border-bottom: 1px solid #DAE1E7;
    }
    
    thead {
        background-color: #F1F5F8;
        border-bottom: 1px solid #DAE1E7;
    }
    
    tbody {
        tr:hover {
            background-color: #F1F5F8;
        }

        tr:not(:last-child) {
            border-bottom: 1px solid #DAE1E7;
        }
    }

    th{
        padding: 1.5rem 0;
        color: #8795A1;
        cursor: auto;
        &:first-child {
            padding-right: 3rem;
        }
    }

    tr{
        // &:not(:last-child) {
        //     border-bottom: 1px solid #DAE1E7;
        // }
        cursor: pointer;

        td{
            padding: 2rem 0;
            min-height: 7rem;
            &:first-child {
                padding-right: 3rem;
            }
        }
    }
}

.swiper-container-vertical > .swiper-scrollbar{
    right: auto;
    left: 10px;
}

.chat-comments{
    background-image: linear-gradient(to left bottom, #F8FAFC , #B8C2CC);
    background-size: cover;
   & .dd {
       
    &:hover .cc {
        display: block;
    }
   } 
    .me{

    }
    .tome{
        direction: ltr;
    }
}


.nav__footer{
    display: flex;
    padding: 40px 0;
    li{
        width: 25%;
        list-style: none;
        a{
            font-weight: bolder;
            color : #000;
        }
        ul{ 
            padding: 0;
            li{
                width: 100%;
                padding-top: 13px;
                a{
                    font-weight: 300;
                    color : #000;
                }
            }
        }
    }
}
@media screen and (max-width:600px){
    .nav__footer{
        li{width: 50%;}
    }
}


// single product style

.tongue{
    transform: translateX(100%);
    transition: transform .2s;
    
}

.clip-path-holder {
    clip-path: inset(0% 0% 0% 0%);
}

.mouth-hole {
    &:hover ~ .clip-path-holder >.tongue{
        transform: translateX(0)
    }
}

.designer-canvas{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    .canvas{
        width: 100%;
        img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            margin: auto;
            width: auto;
        }
    }
    .toolbar{
        width: 200px;
        .options{
            position: absolute;
            top: 0;
            right: -200px;
            width: 200px;
            transition: transform .3s;
            height: 100%;
            background-color: #ccc;
            &:first-child{
                right: 0px;
                position: relative;
            }
            &.active{
                transform: translateX(-100%);
            }
            .option{
                &.active{
                    background-color: #bbb;
                }
            }
        }
        .values{
            position: absolute;
            top: 0;
            right: -200px;
            width: 200px;
            transition: all .3s;
            background-color: #fff;
            height: 100%;
            opacity: 0;
            &.active{
                transform: translateX(-200%);
                opacity: 1;
            }
            .value{
                &.active{
                    background-color: #ddd;
                }
                &.disable{
                    color: red !important;
                    opacity: .3;
                }
            }
        }
        .sq{
            height: 200px;
            border: 1px solid;
        }
    }
}